



 th,
tr,
td {
  border: 2px double black;
  border-collapse: collapse;
  padding: 10px;
  text-transform: capitalize;
}
.container1 {
  display: grid;
  margin-bottom: 50px;
}
.container2 {
  display: grid;
}  