<style>
  table,
  th,
  tr,
  td {
    border: 2px double black;
    border-collapse: collapse;
    padding: 10px;
    text-transform: capitalize;
  }

  .container1 {
    display: grid;

    margin-bottom: 50px;
  }

  .container2 {
    display: grid;
  }
</style>

<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <!-- <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                    <span class="h2 font-weight-bold mb-0">350,897</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Since last month</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                    <span class="h2 font-weight-bold mb-0">2,356</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                  <span class="text-nowrap">Since last week</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                    <span class="h2 font-weight-bold mb-0">924</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                  <span class="text-nowrap">Since yesterday</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                    <span class="h2 font-weight-bold mb-0">49,65%</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                      <i class="fas fa-percent"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                  <span class="text-nowrap">Since last month</span>
                </p>
              </div>
            </div>
          </div>
        </div> -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Form</h3>
        </div>
        <div class="card-body ">
          <div class="row">

           <div class="card-body ">
              <div class="container1 ">
                <table class="table-responsive-sm">
                  <tr>
                    <!-- <th>..</th> -->
                    <th colspan="4">questionnaire for vendor qualification</th>
                  </tr>
                </table>
              </div>
             
              <div class="container2 ">
               <form>
                  <table class="table-responsive-sm">
                 
                      <tr>
                        <th colspan="4">
                          QUESTIONNAIRE FOR VENDOR QUALIFICATION -KSM/CHEMICALS (to be
                          filled by the vendor's representative)
                        </th>
                      </tr>
                         <tr>
                          <td colspan="4">product(s): <input type="text" name="" id="" /></td>
                      </tr>
                      <tr>
                        <td colspan="2">Comapany: <input type="text" name="" id="" /></td>
                        <td colspan="3">contact person: <input type="text" name="" id="" /></td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          manufacturing site address: <input type="text" name="" id="" />
                        <td colspan="3">contact details: <input type="text" name="" id="" /></td>
                 
                      </tr>
                      <tr>
                        <td colspan="2">
                          corporate office address/supplier address:
                          <input type="text" name="" id="" />
                        </td>
                        <td colspan="3">teleohone numbers: <input type="text" name="" id="" /></td>
                      </tr>
                      <tr>
                        <th colspan="4"> questionnaire is filled by :</th>
                      </tr>
                      <tr>
                        <td colspan="2">name : <input type="text" name="" id=""></td>
                        <td colspan="3">signature : <input type="text" name=" " id=" "></td>
                      </tr>
                      <tr>
                        <td colspan="2">designation(techincal dept): <input type="text " name=" " id=""></td>
                        <td colspan="3">date : <input type="date" name=" " id=""></td>
                      </tr>
                      <tr>
                        <th colspan="4"> regulatory approvals for the products being offered:</th>
                      </tr>
                      <tr>
                        <th>regulatory authority</th>
                        <th>date of inspection</th>
                        <th>date of certification</th>
                        <th>products covered</th>
                      </tr>
                      <tr>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="date"></td>
                        <td><input type="text"></td>
                      </tr>
                      <tr>
                        <th>do you have a Documented quality policy ?
                          (if yes , attach a copy)
                        </th>
                        <td>yes <input type="radio" name=" " id="ans">
                          <input type="file">
                        </td>
                        <td colspan="2">no <input type="radio" name="" id="ans"></td>
                      </tr>
                      <tr>
                        <th>is the policy implemented throughout the company ?</th>
                        <td> yes <input type="radio"></td>
                        <td colspan="2">no <input type="radio"></td>
                      </tr>
                      <tr>
                        <th>who is the responsible for the implementation of the policy ?</th>
                        <th>name: <input type="text"></th>
                        <th colspan="2">designation: <input type="text"></th>
                      </tr>
                      <tr>
                        <th colspan="4">1.0 ORGANISATION</th>
                      </tr>
                      <tr>
                        <th>1.1</th>
                        <th>is there any ORGANISATION chart / organogram >
                          (if yes , attach a copy)
                        </th>
                        <td>yes <input type="radio"> <input type="file"></td>
                        <td>no <input type="radio" name="" id=""></td>
                      </tr>
                      <tr>
                        <th>1.2 </th>
                        <th>is decision to release or reject a product for sale independent from production
                        </th>
                        <td>yes <input type="radio"> </td>
                        <td>no <input type="radio" name="" id=""></td>
                      </tr>
                 
                  </table>
               </form>
              </div>
           </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>