<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0 d-flex justify-content-center">
            <p>Welcome to My Drive</p>
          </h3>
          <span>Root Folders and Files</span>
        </div>
        <div class="card">
          <div class="card-body">
            <app-common-mydrive-head
              (newItemEvent)="updateDashboard()"
            ></app-common-mydrive-head>

            <nz-table
              #basicTable
              [nzData]="listOfDisplayData"
              class="vb__utils__table mb-4"
            >
              <thead>
                <tr>
                  <th>SNo</th>
                  <th>Name</th>
                  <th>Created By</th>
                  <th>View</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of basicTable.data; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <span *ngIf="data.doc">
                      <mat-icon> insert_drive_file</mat-icon>{{ data.name }}
                    </span>
                    <span *ngIf="!data.doc">
                      <mat-icon>folder</mat-icon>  {{ data.name }}
                    </span>
                  </td>
                  <td>{{ data.creator.email }}</td>
                  <td>
                    <span *ngIf="data.doc">
                      <a
                        class="btn btn-sm btn-light mr-2"
                        (click)="getSignedUrl(data.path)"
                      >
                        Document View
                      </a>
                    </span>
                    <span *ngIf="!data.doc">
                      <a
                        (click)="redirectFolder(data._id)"
                        class="btn btn-sm btn-light mr-2"
                      >
                        Folder View
                      </a>
                    </span>
                  </td>
                  <td>
                    <a
                      nz-popconfirm
                      nzPopconfirmTitle="Are you sure?"
                      (nzOnConfirm)="delete(data._id)"
                      (nzOnCancel)="cancelDelete()"
                      nzPopconfirmPlacement="top"
                    >
                      Delete
                    </a>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>

          <nz-modal
            [(nzVisible)]="isVisible"
            (nzOnCancel)="handleCancel()"
            (nzOnOk)="handleOk()"
            [nzStyle]="{ top: '20px' }"
            nzWidth="1300px"
          >
            <ng-container *nzModalContent>
              <iframe
                style="border: 1px solid black"
                width="100%"
                height="500px"
                [src]="viewUrl | safe: 'resourceUrl'"
              ></iframe>
            </ng-container>
          </nz-modal>
        </div>
      </div>
    </div>
  </div>
</div>
