<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
    
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
           
          </div>

          <form >
            <div>
              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Organization Name</mat-label>
                <input matInput formControlName="orgName" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Organization Logo</mat-label>
                <ngx-mat-file-input formControlName="orgLogo" 
                  placeholder="Basic outline placeholder">
                </ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Organization HQ Address</mat-label>
                <input matInput formControlName="orgHqAddress" />
              </mat-form-field>
           

              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Organization HQ State</mat-label>
                <mat-select  formControlName="orgHqState">
                  <mat-option >
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Organization HQ City</mat-label>
                <mat-select formControlName="orgHqCity">
                  <mat-option></mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Organization Phone No</mat-label>
                <input matInput formControlName="orgTelephone" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Organization ZIP</mat-label>
                <input matInput formControlName="orgHqZip" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Organization Email</mat-label>
                <input matInput formControlName="orgEmail" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Organization Website</mat-label>
                <input matInput formControlName="orgWebSite" />
              </mat-form-field>
              <!-- <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Product limit</mat-label>
                <input matInput type="number"  formControlName="productLimit" />
              </mat-form-field> -->
            </div>
       
          </form>
         
        </div>
      </div>
    </div>
  
  
  </div>
